{% extends "layouts/base.html" %}
{% load static %}
{% block title %}indexstock{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{}">

    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td> 

                </tr>
            </tbody>

        </table>
        
    </body>


{% endblock %}