{% extends "layouts/baseAdmin.html" %}

{% load static %}


{% block title %}LocalFood{% endblock %}

{% block content %}
<article class="article">

    <div class="options_container">
        

    </div>
        <div class="pensar que poner">
           
        </div>
    <div class="user">
        <div class="container_img_container">
            <div class="img_container"><i class="fa-solid fa-user"></i></div>
        </div>
        <div class="user_info">
            <p>user name</p>
            <p>Information type of suscription</p>
        </div>
        <i class="fa-solid fa-gear"></i>
    </div>
</article>
<script type = "text/javascript" src="{% static 'js/inicio.js' %}"></script>
{% endblock %}

{% block style %} 
    <link type="text/css" href="{% static 'css/padministrativo.css' %}" rel="stylesheet">
{% endblock %}
