{% extends "layouts/base2.html" %}

{% load static %}

{% block title %}Comunidad{% endblock %}



{% block content %}
<link rel="stylesheet" href="{% static 'css/comunidad.css' %}">

<!-- <div class= "container">
    <div class= "container-text" >
        <li class = "text-foro" >Foro</li>
        <form class = "search">
            <textarea class = "comment" id="comentario" name="comentario" rows="4" cols="50" placeholder="Escriba su opinion aquí"></textarea>
        </form>
        <button class = "bt_publish">Publicar</button>
    </div>
</div> -->

<h2>Crear un nuevo hilo</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear Hilo</button>
</form>
<a href="{% url 'create_thread' %}">Volver al foro</a>


{% endblock %}
