{% extends "layouts/baseAuth.html" %}
{% load static %}
{% block title %}Info{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/info.css' %}">

    <body>
        <div class="container">
                <form method="POST">
                    {% csrf_token %}

                    <p class="name">Nombre</p>
                    <input type="text" name="name" placeholder="Nombre">
                    <p class="name">Correo electrónico</p>
                    <input type="email" name="email" placeholder="Correo electrónico">
                    <p class="name">Teléfono</p>
                    <input type="number" name="phone" placeholder="Teléfono">
                    <textarea class="area" placeholder="escribe tu pregunta aquí" name="message" type="text"></textarea>
                    <button type="submit" class="button"><i class="fa-solid fa-up-right-from-square"></i>Enviar</button>
            </form>
        </div>
    </body>


{% endblock %}