* {
    background-color: red;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

li .text-foro {
    font-size: 30px;
    margin-right: 1000px;
    list-style-type: disc;
    text-align: left;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 800px;
}

.comment {
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.bt_publish {
    margin-left: 740px;
    border: none;
    background: #186e1f13;
    font-size: 18px;
}

