.container{
    margin: 0;
    padding: 0;
    background: #C5E892;
}

p {
    content: "\00B7"; /* Usamos el carácter del punto (·) como contenido */
    margin-right: 5px; /* Agregamos un espacio entre el punto y el texto */
}

.container-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    background-color: red;
}

.search .comment {
    display: block;
    height: 100px;
    width: 500px;
}