.container {
    margin: 0;
    padding: 0;
    background: #C5E892;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search .comment {
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    padding: 20px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 800px;
}

.text-foro {
    font-size: 30px;
    margin-right: 1000px;
    list-style-type: disc;
    text-align: left;
}

.container-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}